
.cv-content {
    
    margin: 0 1em;
    border-left: .3em groove var(--accent-color-dark);
    border-radius: 100px 0;
    padding-left: 1em;
    & h2 {
        text-align: center;
        position: relative;
        margin-top: 2em;
        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            border: 5px ridge var(--accent-color-dark);
            border-radius: 50%;
            width: 20%; /* Anpassa bredden efter dina behov */
        }
        &::before {
            left: 0;
        }   
        &::after {
            right: 0;
        }
    }
    & h3 {
        margin: .5em 0;
    }
    & h4 {
        
        margin-left: 1em;
        margin-left: 1em;
    }
    & h5 {
       margin-left: 1.5em;
        
    }
    & p {
        
    }
    
}


@media (min-width: 800px) {
    

    .main-section {
        padding: 0; /* återställer efter header har fått position: relative  */
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .cv-content ul {
        margin: 2rem;
        color: var(--secondary-color-light);
        font-size: 1.3rem;
    }
}